{% extends 'pages/main.html' %}

{% load static %}

{% block content %}
    <div class="conferenceeventpage">
        <div class="videoframe">
            <iframe width="560" height="315" class="videolive" src="https://www.youtube.com/embed/86YLFOog4GM?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <img class="bgimg" src="{% static 'images/confhall.jpg' %}"/>
    </div>
{% endblock %}