{% extends 'pages/main.html' %}

{% block content %}
{% for message in messages %}
    {{message}}
{% endfor %}

<div class="editinfocardddd">
    <p class="usernamefirat">
        {{user.first_name}} {{user.last_name}}
    </p>
    <p class="usenameinfopage">Username/Phone Number: {{user.username}}</p>
    <P class="emailinfopage">Email Address: {{user.email}}</P>
    </div>
    <hr>
  
    <div class="editinfocard">
    <p class="editprofiletext">edit profile</p>
    <form method="POST">
    {% csrf_token %}
    <p class="usernameedittext">username</p>
    {{form.username}}
  
    <p class="usernameedittext">email</p>
    {{form.email}}
  
    <p class="usernameedittext">first name</p>
    {{form.first_name}}
  
    <p class="usernameedittext">last name</p>
    {{form.last_name}}
    <button class="submiteditprofile">update</button>
    </form>
  </div>

{% endblock %}